<body id="body">

    <div class="container-fluid story-background position-relative">
        <div class="container py-5">
            <div class="row pb-4">
                <div class="col-md-8 p-4">
                    <h3 class="neue-title-white">About <span class="jinglers">Orlena</span></h3>
                    <p class="neue-p-white">Orlena is a dessert brownie brand from Bali, established in 2018 under the umbrella of PT Orlena Delapan
                        Mulia. With a strong commitment to quality and innovation, Orlena offers a variety of brownies and desserts
                        featuring distinctive flavors that have become favorites among both locals and tourists.
                        <br>
                        We believe that every bite should leave a lasting impression—this is why we continuously innovate in our
                        recipes, packaging, and customer experience.
                        <br>
                        Today, Orlena operates multiple branches and growing online distribution channels. Our vision is to
                        become the leading brownie brand in Indonesia, and our mission is to spread happiness through sweet
                        products made with love.
                    </p>
                </div>
            </div>
        </div>

        <!-- Gambar di tengah garis batas -->
        <div class="image-between-section">
            <img src="../../assets/images/RNC 88.jpg" alt="Image" class="img-fluid shadow rounded" />
        </div>
    </div>

    <div class="container py-5">
        <div class="row pt-4">
            <div class="col-md-8 p-5">
                <h3 class="neue-title"> <span class="jinglers">Orlena's</span> History</h3>
                <p class="neue-p">Orlena was founded in 2018 by Metta Puspita at the age of 15, starting from a small home
                    kitchen selling brownies online. Her passion for desserts and drive for innovation led to a
                    signature product known for its rich flavor, fudgy texture, and eye-catching look.
                    <br>
                    As demand grew, Orlena opened its first outlet in Bali and expanded its team. The brand
                    continued to evolve—improving products, packaging, and service—to stand out in a
                    competitive market.
                    <br>
                    In 2025, Orlena became part of PT. Orlena Delapan Mulia, reflecting a stronger commitment to
                    long-term growth and professional management. Today, it is more than just a favorite Bali treat
                    —it represents quality, creativity, and consistency.
                    <br>
                    Looking ahead, Orlena is set to expand further—sharing happiness through brownies, one bite
                    at a time.
            </div>
        </div>
    </div>


    <div class="container-fluid owner-background">
        <div class="container">
            <div class="row p-4">
                <div class="col-md-6">
                    <img src="../../assets/images/Orlena Company Profile (1).jpg" class="owner-img rounded-4 shadow">
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center " style="min-height: 100%;">
                    <h3 class="neue-title">Meet the <span class="jinglers">owner</span></h3>
                        <p class="neue-p">
                        Allow us to introduce you to Metta, the visionary founder behind Orlena.
                        With a deep passion about FnB Business and a commitment to create a happiness from a dessert,
                        Metta embarked on her journey to create Orlena. Her innovative spirit and dedication have
                        led the company to develop the product with various of products series.
                        </p>
                </div>

            </div>
        </div>
    </div>
 

    <div class="container-fluid">
        <div class="row pt-5 pb-5">
            <div class="col-md-12 text-center">
                <h3 class="neue-title"><span class="jinglers">Orlena's </span>Milestone</h3>
            </div>
            <div class="col-md-12 p-4">
                <div id="timeline" class="timeline">
                    <div class="timeline__wrap">
                        <div class="timeline__items">
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <p class="neue-title">2018</p>
                                    <ul>
                                        <li class="neue-p"> Launched brand and initial product line</li>
                                        <li class="neue-p"> Introduced our signature creation product</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <p class="neue-title">2019</p>
                                    <ul>
                                        <li class="neue-p"> Launched customized hampers for gifting</li>
                                        <li class="neue-p"> Expanded product range with new brownie flavors</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <p class="neue-title">2020</p>
                                    <ul>
                                        <li class="neue-p"> Developed an expanded menu</li>
                                        <li class="neue-p"> Achieved 20,000 Instagram followers</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <p class="neue-title">2021</p>
                                    <ul>
                                        <li class="neue-p"> Opened first offline retail stores</li>
                                        <li class="neue-p"> Introduced seasonal product variations & formed partnership</li>
                                        <li class="neue-p"> Became available on major food delivery platforms</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <p class="neue-title">2022</p>
                                    <ul>
                                        <li class="neue-p"> Opened a second retail location</li>
                                        <li class="neue-p"> Established an inhouse social media team</li>
                                        <li class="neue-p"> Initiated office outreach and promotional activities</li>
                                        <li class="neue-p"> Collaborated with PT Nestlé Indonesia</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <p class="neue-title">2023</p>
                                    <ul>
                                        <li class="neue-p"> Partnered with influencer Lady Misu</li>
                                        <li class="neue-p"> Expanded to department store branches</li>
                                        <li class="neue-p"> Collaborated with Kopi Kenangan for cobranded offerings</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="timeline__item">
                                <div class="timeline__content">
                                    <p class="neue-title">2024</p>
                                    <ul>
                                        <li class="neue-p"> Halal Certification</li>
                                        <li class="neue-p"> Expanded 1 Branch in Denpasar Timur</li>
                                        <li class="neue-p"> Launch 3 new product variants and sold out almost 10.000 items for the new product</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid brown-background pt-5 pb-5">
        <div class="container pb-5">
            <div class="row pb-3">
                <div class="col-md-12 text-center">
                    <h3 class="neue-title">Orlena CSR 2025: A Brighter Future for SDN 5 Munduk</h3>
                </div>
            </div>
            <div class="row p-4">
                <div class="col-md-6 col-12">
                    <video width="100%" height="400" controls>
                        <source src="../../assets/images/csr/Img 7603-comp.m4v" type="video/mp4">
                    </video>

                </div>
                <div class="col-md-6 col-12">   
                    <img src="../../assets/images/csr/MW_02624.JPG" class="csr-thumbnail">
                     <p class="neue-p pt-4">
                        In 2025, Orlena took a heartfelt step beyond the kitchen—into the classroom.
                        As part of our CSR mission, we helped restore SDN 5 Munduk, a small elementary school nestled in the hills of North Bali. More than repairing walls and repainting classrooms, this project was about rebuilding hope—creating a safe, inspiring space where children can dream, learn, and grow.
                        We upgraded learning facilities, donated educational tools, and supported environmental programs that rooted awareness from an early age.
                        This is our way of giving back to the island that shaped us. Because at Orlena, we believe that nurturing futures is just as essential as creating comfort through food.
                        </p>
                    <div class="d-flex align-items-center" style="height: 100%;">
                        
                    </div>
                   
                </div>
            </div>
            
        </div>
        <div class="row">
                <div class="col-md-12">
                    <div class="">
                         <div class="splide" id="csr-slider">
                            <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_02587.JPG" class="csr-img rounded w-100" />
                                </li>
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_03020.JPG" class="csr-img rounded w-100" />
                                </li>
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_03105.JPG" class="csr-img rounded w-100" />
                                </li>
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_03240.JPG" class="csr-img rounded w-100" />
                                </li>
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_03322.JPG" class="csr-img rounded w-100" />
                                </li>
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_03567.JPG" class="csr-img rounded w-100" />
                                </li>
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_03767.JPG" class="csr-img rounded w-100" />
                                </li>
                                <li class="splide__slide csr-section">
                                    <img src="../../assets/images/csr/MW_03798.JPG" class="csr-img rounded w-100" />
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
    </div>

    
    <div class="container pt-5 pb-5">
       <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="neue-title">Orlena’s Outlets</h3>
            </div>
       </div>
       <div class="row pt-4">
            <div id="outlet-slider" class="splide" aria-label="Outlet Slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class=" text-center">ORLENA PADANG BIAN</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p>JL Purba Indah Raya Gg. II No.9, Padangsambian, Kec. Denpasar Bar., Kota Denpasar, Bali 80117</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class="text-center">ORLENA LIVING WORLD DENPASAR</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p class="outlet-addres">Living World DPS - LG Floor</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class="text-center">ORLENA PANJER DENPASAR SELATAN</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p class="outlet-addres">Jl. Bedugul 31, Ruko No-6, Sidakarya, Denpasar Selatan, Kota Denpasar, Bali 80225</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class="text-center">ORLENA AKASIA DENPASAR TIMUR</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p class="outlet-addres">JL Akasia No. 16, Sumerta, Kec. Denpasar Tim., Kota Denpasar, Bali 80239</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

       </div>

    </div>

    <div class="container">
        <hr class="my-4">
    </div>


    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="neue-title">Brand Collaboration</h3>
            </div>
        </div>
        <div class="row pt-4">
            <div id="collab-slider" class="splide" aria-label="Collab Slider">
                <div class="splide__track">
                    <ul class="splide__list">

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab1.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">01</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Kopi Kenangan <br>Hanya Untukmu</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab2.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">02</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Ladymisu With Ladymeralia</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab3.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">03</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Jungle Gold Bali</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab4.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">04</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Falala Chocolate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab5.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">05</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">PT. Nestle Milo</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>


            </div>


        </div>
    </div>
    
</body>
