
<nav class="navbar navbar-expand-lg sticky-top header-navbar shadow shadow-sm">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/images/Orlena-Logo.png" alt="Orlena-Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end header-offcanvas" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="navbarOffcanvasLgLabel">Offcanvas</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column h-100">
        <div class="menu-wrapper flex-grow-1">
          <ul class="navbar-nav justify-content-center pe-4">
            <li class="nav-item mx-2 hvr-underline-from-left navbar-underline">
              <a class="nav-link" routerLink="/">Fudge Brownies</a>
            </li>
            <li class="nav-item mx-2 hvr-underline-from-left navbar-underline">
              <a class="nav-link" routerLink="/">Brownies Tart</a>
            </li>
            <li class="nav-item mx-2 hvr-underline-from-left navbar-underline">
              <a class="nav-link" routerLink="/">Pastry Croissant</a>
            </li>
            <li class="nav-item mx-2 hvr-underline-from-left navbar-underline">
              <a class="nav-link" routerLink="/">Ice Cream Creation</a>
            </li>
            <li class="nav-item mx-2 hvr-underline-from-left navbar-underline">
              <a class="nav-link" routerLink="/our-story">Our Story</a>
            </li>
          </ul>
        </div>

        <!-- Social Media Icons -->
        <div class="social-icons mt-4 text-center">
          <a href="https://facebook.com" target="_blank" class="text-dark me-3">
            <i class="fab fa-facebook fa-lg"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="text-dark me-3">
            <i class="fab fa-instagram fa-lg"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="text-dark">
            <i class="fab fa-twitter fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>