<div id="footer">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-3 col-12 p-4">
                <img src="../../assets/images/Orlena-Logo.png" class="footer-logo" />
            </div>
            <div class="col-md-3 col-6 p-4">
                <p class="neue-p3">Quick Links</p>
                <ul>
                    <li class="mt-2"><a routerLink="/" class="neue-p">Fudge Brownies</a></li>
                    <li class="mt-2"><a routerLink="/" class="neue-p">Brownies Tart</a></li>
                    <li class="mt-2"><a routerLink="/" class="neue-p">Pastry Croissant</a></li>
                    <li class="mt-2"><a routerLink="/" class="neue-p">Ice Cream Creation</a></li>
                    <li class="mt-2"><a routerLink="/" class="neue-p">Our Story</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 p-4">
                <p class="neue-p3">Customer Service</p>
                <ul>
                    <li class="mt-2"><p class="neue-p">ordersbrookibakehouse.com</p></li>
                    <li class="mt-2"><p class="neue-p">8:00am - 3:00pm, Mon to Fri</p></li>
                    <li class="mt-2"><a routerLink="/" class="neue-p">FAQ</a></li>
                    <li class="mt-2"><a routerLink="/" class="neue-p">Terms & Conditions</a></li>
                    <li class="mt-2"><a routerLink="/" class="neue-p">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-12 p-4">
                <p class="neue-p3">Follow Us</p>
                <div class="d-flex gap-3">
                    <a routerLink="/" class="neue-p3"><i class="fa-brands fa-whatsapp"></i></a>
                    <a routerLink="/" class="neue-p3"><i class="fa-brands fa-instagram"></i></a>
                    <a routerLink="/" class="neue-p3"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="copyright">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <p class="neue-p2">Copyright © 2025 Orlena.</p>
            </div>
        </div>
    </div>
</div>