<section
  class="blog-detail-page"
  *ngIf="blog"
>

  <!-- =====================================
       HEADER
  ====================================== -->
  <header class="blog-detail-header">

    <div class="container">

      <span class="blog-detail-category">
        {{ blog.category }}
      </span>

      <h1 class="blog-detail-title">
        {{ blog.title }}
      </h1>

    </div>

  </header>


  <!-- =====================================
       FEATURED IMAGE
  ====================================== -->
  <section class="blog-detail-featured">

    <div class="container">

      <div class="blog-detail-image">

        <img
          [src]="blog.image"
          [alt]="blog.title"
        />

      </div>

    </div>

  </section>


  <!-- =====================================
       ARTICLE CONTENT
  ====================================== -->
  <article class="blog-detail-article">

    <div class="container">

      <div class="blog-detail-content">

        <ng-container
          *ngFor="let item of blog.content"
        >

          <!-- PARAGRAPH -->
          <p
            *ngIf="item.type === 'paragraph'"
            class="blog-detail-paragraph"
          >
            {{ item.text }}
          </p>


          <!-- SUB HEADING -->
          <h2
            *ngIf="item.type === 'heading'"
            class="blog-detail-subheading"
          >
            {{ item.text }}
          </h2>

        </ng-container>

      </div>

    </div>

  </article>


  <!-- =====================================
       BACK TO BLOG
  ====================================== -->
  <div class="blog-detail-footer">

    <div class="container">

      <a
        routerLink="/blog"
        class="blog-detail-back-button"
      >
        Back to What's on Orlena
      </a>

    </div>

  </div>

</section>


<!-- =====================================
     BLOG NOT FOUND
====================================== -->
<section
  class="blog-not-found"
  *ngIf="!blog"
>

  <div class="container">

    <h1>
      Blog not found
    </h1>

    <a routerLink="/blog">
      Back to What's on Orlena
    </a>

  </div>

</section>
