<body id="body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5 pb-5">
                <div class="product-gallery">
                    <!-- Main Image Slider -->
                    <div id="detail-main-slider" class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li *ngFor="let image of images" class="splide__slide text-center">
                                    <a [attr.data-fancybox]="'gallery'" [href]="image">
                                    <img [src]="image" alt="Product Image" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Thumbnails -->
                    <div id="detail-thumbnail-slider" class="splide mt-3">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li *ngFor="let image of images" class="splide__slide">
                                    <img [src]="image" alt="Thumbnail" />
                                </li>
                            </ul>
                        </div>
                    </div>

    
                </div>
    
            </div>
            <div class="col-md-6 pt-5">
                <h2 class="neue-title">Ice Cream Creation</h2>
                <p class="neue-p">Creating ice cream creations as a complementary offering to our main desserts, such as
                    milkshakes and soft serve, is a fantastic way to enhance our menu and provide customers
                    with a wellrounded dessert experience. Here's how we can craft these ice cream creations
                    featuring or signature brownies:
                </p>
                <div class="row">
                    <div class="col-12">
                        <ul>
                            <li class="mx-2"><span class="fw-bold">Milkshakes</span>, we make a milkshakes with 5 option of toppings. Chocolate
Brownies, Greentea Brownies, Lotus Biscoff, Oreo, Nutella.</li>
                            <li class="mx-2"><span class="fw-bold">Soft Cream</span>, we also make another dessert experience by mixing our signature
brownies with ice cream. We have 2 variants, soft serve choco brownies and
greentea brownies</li>
                        </ul>
                    </div>
                </div>
                
                <!-- <p class="neue-p">
                   Turning our signature fudge brownies into a cake-like form for birthdays and celebrations
                   is a wonderful idea. Here's how we create a special brownie cake that's perfect for
                   celebrating
                </p> -->
                <a routerLink="/"><button class="btn btn-secondary">Order Now</button></a>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0 mt-4 pb-4">
        <hr class="my-4">
        <div class="row g-0 product-section">
            <div class="col-md-4 col-12 p-4 product-background">
                <div class="product-description">
                    <h2 class="neue-title">Fudge Brownies</h2>
                    <p class="neue-p">
                        Creating fudge brownies with a variety of
                        delicious toppings is a fantastic way to offer
                        customers a range of flavors and options.
                    </p>
                    <a routerLink="/"><button class="btn btn-secondary">Order Now</button></a>
                </div>
            </div>
            <div class="col-md-8 col-12 pt-4 pb-4">
                <div class="product-slide-container pt-4 pb-4">
                    <div class="splide" id="brownie-slider">
                            <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC04198.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC04199.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC04201.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC08100.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC07764.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC08075.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC08078.jpg" class="product-section-img rounded w-100" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>
