<body id="body">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="splide" id="main-slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide slide-img">
                            <div class="slide-wrapper">
                                <img src="assets/images/slide1.jpg" />
                                <!-- <div class="slide-caption">
                                <h3>Slide Title 1</h3>
                                <p>Deskripsi singkat tentang gambar ini.</p>
                                <a href="#" class="btn btn-read-more">Read More</a>
                                </div> -->
                            </div>
                        </li>
                        <li class="splide__slide slide-img">
                            <div class="slide-wrapper">
                                <img src="assets/images/slide2.jpg" />
                                <!-- <div class="slide-caption">
                                <h3>Slide Title 2</h3>
                                <p>Penjelasan lain tentang gambar kedua.</p>
                                <a href="#" class="btn btn-read-more">Read More</a>
                                </div> -->
                            </div>
                        </li>
                        <li class="splide__slide slide-img">
                            <div class="slide-wrapper">
                                <img src="assets/images/slide3.jpg" />
                                <!-- <div class="slide-caption">
                                <h3>Slide Title 3</h3>
                                <p>Deskripsi gambar ketiga.</p>
                                <a href="#" class="btn btn-read-more">Read More</a>
                                </div> -->
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 scroll-section" id="fudge-brownies">
        <div class="row g-0 product-section pt-2 pb-4">
            <div class="col-md-1 col-2 product-background">

            </div>
            <div class="col-md-3 col-10 ps-4 pt-4 pe-2">
                <div class="d-flex align-items-center">
                    <div class="product-description">
                        <h2 class="neue-title">Fudge Brownies</h2>
                        <p class="neue-p">
                            Creating fudge brownies with a variety of
                            delicious toppings is a fantastic way to offer
                            customers a range of flavors and options.
                        </p>
                        

                        <a href="https://api.whatsapp.com/send/?phone=6282145809558&text&type=phone_number&app_absent=0" target="_blank"><button class="btn shop-now">Order Now</button></a>
                    </div>
                </div>
                
            </div>
            <div class="col-md-8 col-12 pt-4">
                <div class="product-slide-container pt-4 pb-4">
                    <div class="splide" id="brownie-slider">
                            <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC04198.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/IMG_1786.JPEG" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC07764.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC04199.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC08100.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/IMG_1787.JPEG" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC08075.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC04201.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Fudge Brownies/DSC08078.jpg" class="product-section-img rounded w-100" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid p-0 pt-4 brown-background">
        <div class="container pb-4">
            <div class="row p-4">
                <div class="col-md-4 col-12">
                    <h4 class="pt-4 neue-p2">What's Popular Now</h4>
                    <h3 class="ps-4 neue-big">Best Sellers</h3>
                    <p class="neue-p">Try our most loved products</p>
                </div>      
                <div class="col-md-8 col-12">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="card mt-4 best-card position-relative">
                                <!-- Badge Promo -->
                                <img src="../../assets/images/Frame 33.png" class="promo-badge" alt="Promo Badge">

                                <img src="../../assets/images/best/IMG_0747.JPG" class="best-seller-img" alt="...">
                                <div class="card-body">
                                    <h5 class="text-center">Kitkat Almond Chocochips</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="card mt-4 best-card position-relative">
                                <!-- Badge Promo -->
                                <img src="../../assets/images/Frame 33.png" class="promo-badge" alt="Promo Badge">

                                <img src="../../assets/images/best/IMG_6792.JPEG" class="best-seller-img" alt="...">
                                <div class="card-body">
                                    <h5 class="text-center">Chocolycious Tart</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4 scroll-section" id="pastry-croissant">
        <div class="row pt-4">
            <div class="col-md-12 text-center">
                <h2 class="neue-title">Pastry Croissant</h2>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-3 col-6 p-2">
                <img src="../../assets/images/Pastry Croissant/RNC 19-Edit.jpg" class="pastry-img rounded-4 shadow" />
            </div>
            <div class="col-md-3 col-6 p-2">
                <img src="../../assets/images/Pastry Croissant/RNC 23-Edit.jpg" class="pastry-img rounded-4 shadow" />
            </div>
            <div class="col-md-3 col-6 p-2">
                <img src="../../assets/images/Pastry Croissant/IMG_6457.JPG" class="pastry-img rounded-4 shadow" />
            </div>
            <div class="col-md-3 col-6 p-2">
                <img src="../../assets/images/Pastry Croissant/IMG_6452.JPG" class="pastry-img rounded-4 shadow" />
            </div>
        </div>
    </div>

    <div class="container-fluid p-0 mt-4 scroll-section" id="brownies-tart">
        <div class="row g-0 product-section2 pt-2 pb-4">
            <div class="col-md-1 col-2 product-background2">

            </div>
            <div class="col-md-3 col-10 ps-4 pt-4 pe-2">
                <div class="product-description">
                    <h2 class="neue-title">BROWNIES TART</h2>
                    <p class="neue-pw">
                        Turning our signature fudge brownies
                        into a cake-like form for birthdays and
                        celebrations.
                    </p>
                    
                    <a href="https://api.whatsapp.com/send/?phone=6282145809558&text&type=phone_number&app_absent=0" target="_blank" ><button class="btn shop-now-w">Order Now</button></a>
                </div>
            </div>
            <div class="col-md-8 col-12 pt-4">
                <div class="product-slide-container2 pt-4 pb-4">
                    <div class="splide" id="tart-slider">
                            <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Brownies Tart/DSC00664.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Brownies Tart/DSC03968.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Brownies Tart/DSC03990-Edit.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Brownies Tart/DSC04003-Edit-2.jpg" class="product-section-img rounded w-100" />
                                </li>
                                <li class="splide__slide product-section-slide">
                                    <img src="../../assets/images/Brownies Tart/DSC04053-Edit.jpg" class="product-section-img rounded w-100" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid brown-background p-0 scroll-section" id="ice-cream-creation">
        <div class="row g-0">
            <div class="col-md-4 col-12">
                <img src="../../assets/images/RNC 88.jpg" class="ice-cream-img">
            </div>

            <div class="col-md-7 col-10 p-4">
                <div class="d-flex align-items-center" style="height: 100%;">
                    <div>
                        <h2 class="neue-title">Ice Cream Creations</h2>
                        <p class="neue-p w-75">
                            Creating ice cream creations as a complementary
                            offering to our main desserts such as milkshakes and
                            soft serve, is a fantastic way to enhance and provide
                            customers with a well-rounded dessert experience.
                        </p>
                        <a href="https://api.whatsapp.com/send/?phone=6282145809558&text&type=phone_number&app_absent=0" target="_blank" ><button class="btn shop-now">Order Now</button></a>
                    </div>
                </div>
                

            </div>
            <div class="col-md-1 col-2 product-background3">

            </div>
            
        </div>
    </div>

    <div class="container pt-5 pb-5">
       <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="neue-title">Orlena’s Outlets</h3>
            </div>
       </div>
       <div class="row pt-4">
            <div id="outlet-slider" class="splide" aria-label="Outlet Slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class=" text-center">ORLENA PADANG SAMBIAN</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p>JL Purba Indah Raya Gg. II No.9, Padangsambian, Kec. Denpasar Bar., Kota Denpasar, Bali 80117</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet2.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class="text-center">ORLENA LIVING WORLD DENPASAR</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p class="outlet-addres">Living World DPS - LG Floor</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet3.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class="text-center">ORLENA PANJER DENPASAR SELATAN</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p class="outlet-addres">Jl. Bedugul 31, Ruko No-6, Sidakarya, Denpasar Selatan, Kota Denpasar, Bali 80225</p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card outlet-card">
                            <img src="../../assets/images/outlet4.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="outlet-title">
                                        <h5 class="text-center">ORLENA AKASIA DENPASAR TIMUR</h5>
                                    </div>
                                    <div class="d-flex outlet-address align-items-center justify-content-center text-center">
                                        <p class="outlet-addres">JL Akasia No. 16, Sumerta, Kec. Denpasar Tim., Kota Denpasar, Bali 80239</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

       </div>

    </div>

    <div class="container">
        <hr class="my-4">
    </div>


    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="neue-title">Brand Collaboration</h3>
            </div>
        </div>
        <div class="row pt-4">
            <div id="collab-slider" class="splide" aria-label="Collab Slider">
                <div class="splide__track">
                    <ul class="splide__list">

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab1.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">01</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Kopi Kenangan <br>Hanya Untukmu</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab2.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">02</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Ladymisu With Ladymeralia</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab3.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">03</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Jungle Gold Bali</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab4.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">04</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">Falala Chocolate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="splide__slide">
                            <div class="card collab-card">
                            <img src="../../assets/images/collab5.jpg" class="card-img-top" alt="...">
                                <div class="card-body p-0">
                                    <div class="row pt-1 pb-1">
                                        <div class="col-4">
                                            <p class="collab-number ps-1">05</p>
                                        </div>
                                        <div class="col-8 p-0">
                                            <p class="collab-name">PT. Nestle Milo</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>


            </div>


        </div>
    </div>



</body>
